<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Create Potluck View</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'pots/style.css' %}">
        <link rel="stylesheet" href="{% static 'pots/createpotluck.css' %}">
        <script src="{% static '/pots/textFieldInput.js' %}" type="text/javascript"></script>
    </head>

    <body>
        <nav id="nav-bar">
            <a href="{% url 'mainapp:calendar' %}">Calendar</a>
            <a href="{% url 'mainapp:potlucks' %}">Potlucks</a>
            <a href="{% url 'mainapp:index' %}">Home</a>
        </nav>
        <h1>Create Potluck</h1>

        <form id="create_potluck_form" action="{% url 'mainapp:addrecord' %}" method="post">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="name">What is the name of your potluck?</label>
                    <input type="text" id="name" name="name" required>
                </li>

                <li>
                    <label for="start_date">What is the start date of your potluck?</label>
                    <input id="datetime-input" type="datetime-local" id="start_date" name="start_date" required>
                </li>

                <li>
                    <label for="end_date">What is the end date of your potluck?</label>
                    <input id="datetime-input" type="datetime-local" id="end_date" name="end_date" required>
                </li>

                <li>
                    <label for="host">Who is hosting the potluck?</label>
                    <input type="text" id="host" name="host" value="{{ user.username }}" required>
                </li>

                <li>What foods would you like people to bring?</li>

                <fieldset id="items">
                    <li><input type="text" id="food1" name="food1" required></li>
                </fieldset>

                <li>
                    <button type="button" name="add_item" onclick="addItem()">Add item</button>
                    <button type="button" name="remove_item" onclick="removeItem()">Remove item</button>
                </li>

                <li><input id="submit" type="submit" value="Create potluck"></li>
            </ul>
        </form>
    </body>
</html>
