<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{{ potluck.name }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'pots/style.css' %}">
    </head>

    <body>
        <h1>{{ potluck.name }}</h1>
        <h2>Hosted by {{ potluck.host }} on {{ potluck.date }}</h2>
        {% if items %}
        <p>Sign up to bring an item below</p>
        <form id="item_sign_up_form" action="{% url 'mainapp:item_sign_up' potluck.id %}" method="post">
            {% csrf_token %}
            <ul id="flex-outer">
                {% for it in items %}
                {% if it.contributor %}
                <li>{{ it.item }} is being brought by {{ it.contributor }}</li>
                {% else %}
                <li>{{ it.item }}<input type="text" id="{{ it }}" name="{{ it }}" placeholder="Name"><input type="text" id="{{ it }}" name="{{ it }}" placeholder="Email"></li>
                {% endif %}
                {% endfor %}
                <input id="submit" type="submit" value="Sign Up">
            </ul>
        {% else %}
            <p>No items for selected potluck</p>
        {% endif %}
        </form>
    </body>
</html>