<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Potlucks View</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'pots/style.css' %}">
        <link rel="stylesheet" href="{% static 'pots/potlucks.css' %}">
    </head>

    <body>
        <nav id="nav-bar">
            <a href="{% url 'mainapp:calendar' %}">Calendar</a>
            <a href="{% url 'mainapp:create_potluck' %}">New Potluck</a>
            <a href="{% url 'mainapp:index' %}">Home</a>
        </nav>
        <h1>Here is your list of potlucks:</h1>
        {% if mypotlucks %}
        <p>Click on each to view event details</p>
        <ul id="potluck-list">
        {% for pl in mypotlucks %}
            <li>
                <a href="{% url 'mainapp:potluck' pl.id %}">{{ pl.name }} on {{ pl.start_date_time }}</a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No potlucks are available.</p>
        {% endif %}
    </body>
</html>
