html {
    background: #e2dcd5;
    /* background: #e9dbcc; */
    /* background: #fbf6f1; */
}

h1 {
    font-weight: normal;
}

body, input {
    text-align: center;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, ul {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

/* #login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
} */

li, #submit {
    padding: 5px;
}

a {
    color: hsl(29, 43%, 20%);
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { 
    text-decoration: none;
    color:  hsl(24, 24%, 56%);
    /* color:  hsl(25, 24%, 45%); */
}

a:active { text-decoration: none; }

/* HOMEPAGE */
#nav-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    font-size: larger;

    border-top: 6px solid rgb(96, 80, 80);
    border-bottom: 6px solid rgb(96, 80, 80);
    border-radius: 5px;
    border-width: 0.05em;
    margin: 1em;
}

#nav-bar a {
    padding: 0.5em;
}

#logo {
    padding-top: 0.7em;
    max-width: 13%;
}

footer {
    padding-top: 1.5em;
}

/* CREATE POTLUCK PAGE */
#create-potluck {
    max-width: 30%;
    height: auto;
}

#datetime-input, input {
    flex-direction: row-reverse;
}

fieldset {
    border: none;
}
